@model List<Doctor>

<form method="post">
    <label>Introduzca salario: </label>
    <input type="text" name="salario"
           class="form-control" required/>
    <button type="submit" class="btn btn-info">
        Buscar doctores
    </button>
</form>
<hr/>
<h1 style="color:red">@ViewData["MENSAJE"]</h1>
@if (Model != null)
{
    <table class="table table-active">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Doctor doc in Model)
            {
                <tr>
                    <td>@doc.Apellido</td>
                    <td>@doc.Especialidad</td>
                    <td>@doc.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}